body{
    color:rgb(0, 0, 0);
background-image: linear-gradient(to right, aqua 0%, rgba(241, 109, 241, 0.842) 40%, rgb(253, 122, 144) 70%);
}

.heading{
    width: 80%;
    font-size: 22px;

}

#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
    

}